upstream upstream-${PROXIED_SERVICE} {
    server ${PROXIED_SERVICE}:8000;
    resolver 127.0.0.11;
    keepalive 16;
    keepalive_requests 128;
}

server {
    listen 80;
    listen [::]:80;
    server_name ${FQDN};
    location / {
        return 301 https://${FQDN}$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ${FQDN};
    ssl_certificate      /run/secrets/fullchain.pem;
    ssl_certificate_key  /run/secrets/privkey.pem;
    ssl_trusted_certificate /run/secrets/chain.pem;
    root /usr/share/nginx/html/static;

    client_max_body_size 128m;

# TODO: uncomment when we figure out how we'll handle static files
# {% if enable_media_dir %}
#     location /media {
#         alias /usr/share/nginx/html/media;
#     }
# {% endif %}
# 
#     location /static {
#         alias /usr/share/nginx/html/static;
#     }
# 
#     location /favicon.ico {
#         alias /usr/share/nginx/html/static/favicon.ico;
#     }

    location / {
        proxy_pass  http://upstream-${PROXIED_SERVICE};
        include     proxy_params;
    }
}
